.vscode/
CMakeTmp/
Continuous.dir/
ContinuousSubmit.dir/
ContinuousTest.dir/
ContinuousStart.dir/
ContinuousMemCheck.dir/
ContinuousCoverage.dir/
ContinuousConfigure.dir/
ContinuousBuild.dir/
ContinuousUpdate.dir/
ExperimetnalStart.dir/
Experimetnal.dir/
ExperimetnalBuild.dir/
ExperimetnalMemCheck.dir/
ExperimetnalConfigure.dir/
ExperimetnalCoverage.dir/
ExperimetnalSubmit.dir/
ExperimetnalTest.dir/
ExperimetnalUpdate.dir/
Nightly.dir/
NightlyBuild.dir/
NightlySubmit.dir/
NightlyTest.dir/
NightlyStart.dir/
NightlyMemoryCheck.dir/
NightlyMemCheck.dir/
NightlyCoverage.dir/
NightlyConfigure.dir/



Testing/
.cmake/
.DartConfiguration
.CPackConfig
.CTestTestfile
.compile_commands
